.product{
    margin-top: 120px;
}
.product-image{
    margin-left: 80px;
    margin-right: auto;
}
.product_details{
    margin-top: 120px;
}
.title{
    font-size: 36px;
    font-weight: bold;
}
.price{
    font-size: 20px;
    font-weight: 700;
}
.description{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.color_size span{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}
.color_size{
    padding-top: 50px;
}
.quantity{
    margin-top: 55px;
}
.quantity span{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}