form{
    margin-top: 30px;
    z-index: -1;
}
.product{
    padding-top: 50px;
}
.product-title{
    font-weight: 700;
    font-size: 20px;
}
.product-price{
    padding: 5px 15px 15px 0;
}
.btn{
    margin-top: 20px;
}