<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'shop/css/details.css' %}">
</head>
<body>
    <div class="container">
        <a href="" id="cart">Cart</a>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="product">
                    <div class="product-image">
                        <img src="{{ product.image }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="product_details">
                    <p class="title">
                        {{ product.title }}
                    </p>
                    <p class="price">
                        ${{ product.price }}
                    </p>
                    <p class="description">
                        {{ product.description }}
                    </p>  
                </div>

            {% if product.detail.set_all %}
            {% if product.detail.set.size %}
            <select class="form-control" name="size">
            {% for product in product.detail.set.size %}
                <option value="{{ product.size }}"></option>
            </select>
            {% endfor %}
            {% endif %}
            {% endif %}
                
                <button id="{{ product.id }}" class="btn atc btn-outline-secondary add-btn update-cart">Ad to Cart</button>
            </div>
        </div> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'shop/js/cart.js' %}"></script>
</body>
</html>


